doctype html
html
    title Error! (404)
    head
        link(rel="stylesheet", href="css/style.css")
    body
        h2 Error: Post not found (Invalid link)!
        img(src="images/error.jpg" alt='help me' border='0' width='60%')
