doctype html
html
  head
    meta(charset='utf-8')
    title Help Me App
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu' rel='stylesheet')
    script(defer='' src='https://use.fontawesome.com/releases/v5.6.3/js/all.js' integrity='sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  body
    section#title
      // Nav Bar
      .container-fluid
        nav.navbar.navbar-expand-lg.navbar-dark
          a.navbar-brand(href='#') Help Me App
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='#footer') Contact
              li.nav-item
                a.nav-link(href='#about') About
        // Title Section
        .row
          .col-lg-6
            h1 Let's make the world a better place  by helping each other.
            button.btn.btn-dark.btn-lg.download-button(type='button')
              i.fab.fa-google-play
              |  Download
            button.btn.btn-outline-light.btn-lg.download-button(type='button')
              i.fab.fa-apple
              |  Download
          .col-lg-6
            img.title-image(src='images/phone-mockup.png' alt='mockup')
    // Features Section
    section#features
      .row
        .feature-box.col-lg-4
          i.icon.fas.fa-check-circle.fa-4x
          h3 Easy to use
          p The simplest application interface makes it more user-friendly.
        .feature-box.col-lg-4
          i.icon.fas.fa-bullseye.fa-4x
          h3 Get help
          p Get help from people around you whenever you face violence.
        .feature-box.col-lg-4
          i.icon.fas.fa-heart.fa-4x
          h3 Become an active citizen
          p Be a part of the community to stand againt the violence.
    // Footer
    footer#footer
      #social-icon
        a.footer-link(href='#')
          i.fab.fa-facebook-f
        a.footer-link(href='#')
          i.fab.fa-twitter
        a.footer-link(href='#')
          i.fab.fa-linkedin
        a.footer-link(href='#')
          i.fas.fa-envelope
      p © Copyright 2020 Help Me App
